/*
id = #
class = .
element = 
*/





/* GENERAL */

body {
 margin: 0;
 background-image: linear-gradient(92.88deg, #595fb1 9.16%, #2941c5 43.89%, #2a28d8 64.72%);
}

#heading, p, button, form, h2, input, label, h1, h3 {
font-family: 'PT Sans', sans-serif;
}


/* INDEX.HTML */


header {
    background-image: linear-gradient(90deg, #005faf 9.16%, #3260b6 54.72%, #69a2d1 79%);
    overflow: hidden;
    height: 60px;
    border-radius: 0 0 15px 15px;
}

.mainHeading {
    color: white;
    margin: 10px;
}

.ByCharles{
position: absolute;
top: 10px;
left: 210px;
color: white;

 }

#date1{
  position: absolute;
  top: 8px;
  right: 10px;
text-align: right;
font-weight: bold;
}




#HomeButtons button{
    
    background-image: linear-gradient(92.88deg, #3873a3 9.16%, #005faf 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 40px;
    font-weight: 500;
    height: 6rem;
    width: 40%;
    margin: 100px auto;
    display: block;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#HomeButtons button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
 

@media screen and (max-width:1500px) {
    #HomeButtons button{
    
        background-image: linear-gradient(92.88deg, #3873a3 9.16%, #005faf 64.72%);
        border-radius: 8px;
        border-style: none;
        box-sizing: border-box;
        color: #FFFFFF;
        cursor: pointer;
        flex-shrink: 0;
        font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
        font-size: 30px;
        font-weight: 500;
        height: 4rem;
        width: 40%;
        margin: 100px auto;
        display: block;
        padding: 0 1.6rem;
        text-align: center;
        text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
        transition: all .5s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
    }
    header {
        background-image: linear-gradient(90deg, #005faf 9.16%, #005faf 55.16%, #6987be 99.72%);
        overflow: hidden;
        height: 60px;
        border-radius: 0 0 15px 15px;
    }

#date1 {
    visibility: hidden;
}
#Back button{
    position: absolute;
    background-image: linear-gradient(90deg, #007e30 9.16%, #00ffd5 99.72%);
    border: none;
    cursor: pointer;
    width: 70px;
    height: 40px;
    right: 10px;
    top: 0px;
    font-size: 20px;
    }

}







#Back button{
position: absolute;
background-image: linear-gradient(90deg, #007e30 9.16%, #00ffd5 99.72%);
border: none;
cursor: pointer;
width: 90px;
height: 40px;
right: 10px;
top: 0px;
font-size: 20px;
}
#BackBig{
text-align: center;
color: white;
width: 1000px;
position: absolute;
top: 30%;
left: 30%;
font-size: 110px;
}
.HomeworkOffline {
font-size: 40px;
font-weight: bold;
}
#Homework{
all: revert;
}



#donations{
background-color: #f96854;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
width: 10%;
min-width: 150px;
border-radius: 4px;
margin-top: 10px;
margin-right: 25px;
position: absolute;
bottom: 0;
right: 0;
height: 20%;
font-weight: bold;
font-size: 20px;
}

#submissions{
    background-color: #00ff95;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    max-height: 100px;
    height: 10px;
    width: 0px;
    min-width: 150px;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 25px;
    position: absolute;
    bottom: 190px;
    right: 0;
    height: 20%;
    font-weight: bold;
    font-size: 15px;
    }


#ad1 {
    height: 200px;
width: 503px;
border: solid;
border-radius: 4px;
background-color: rgb(255, 255, 255);
position: absolute;
top: 350px;
left: 10px;
text-align: center;
}
#Latest {
position: absolute;
height: 100px;
width: 35%;
border: solid;
border-radius: 4px;
background-color: rgb(255, 255, 255);
left:37%;
top: 400px;
text-align: center;
}

/* Set a style for all buttons */
button {
    background-image: linear-gradient(92.88deg, #3873a3 9.16%, #005faf 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 30px;
    font-weight: 500;
    height: 4rem;
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
/* Add a hover effect for buttons */
button:hover {
    box-shadow: rgba(0, 0, 0, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

/* GRADESTUDY */

#StudySubjects {
    padding: 50px;
}


@media screen and (max-width: 1500px){
    button{
        font-size: 20px;
        padding: 1px;
    }
    #StudyHeading{
    font-size: 20px;
    position: relative;
    top:10px
    }
}







/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
display: block;
float: none;
}
.cancelbtn {
width: 100%;
}
}

#Gr9other button{
    margin-top: 50px;
    background-color: rgb(85, 85, 255);
}



#DOWNLOAD{
    height: 60px;
    line-height: 50px;
  
}

#DOWNLOAD button {

    position: relative;
    top: -75px;
    left: 740px;
    width: 150px;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 10px;
    cursor: pointer;
    font-size: 15px;
}

#DOWNLOAD p{
position: relative;
left: 65%;
top: -145px;
}

#DOWNLOAD hr{
    position: relative;
    top: -150px;
}

@media screen and (max-width: 1500px) and (max-height:1000px){
    #Suggest {
    visibility: hidden;
    }
    #RepProb {
    visibility: hidden;
    }

    #HomeButtons .HomeworkButton {
        visibility: hidden;
    }
    #Latest {
       position: absolute;
        top: 230px;
        left: 10px;
        
    }
    #ad1 {
        position: absolute;
        bottom: 10px;
        font-size: 10px;
        max-width: 200px;
    }

#heading {
    max-width: 280px;
    font-size: 25px;
    padding-bottom: 10px;
}
#DOWNLOAD h2{
    font-size: 20px;
}


#DOWNLOAD button {
    left: 240px;
}

#DOWNLOAD p{
    position: relative;
    font-size: 10px;
    left: 0px;
    top: -110px;
    }

    #DOWNLOAD hr{

        top: -135px;
        }

#about {
    position: relative;
    bottom: 150px;
    font-size: 15px;
}
    }



    /* DESKTOP MOBILE TEXT */
#desktop::after {
    content: 'Practice Paper, T2 (w/memo):';
            }

            #NucAgeColdWarDesMob::after {
                content: 'Nuclear Age and Cold War notes w/ summary:';
            }

#RJIVQ::after {
    content: 'Romeo and Juliet, Act IV Questions:';
}

#RJSG::after {
    content: 'Romeo and Juliet, Study Guide:';
}

#ZMB1\+2M::after {
    content: '\'Zombie\' Chapter 1+2 memo:';
}


    @media screen and (max-width:1500px){
            #desktop::after {
content: 'Prac. ppr, T2 (w/memo)';
        }    

#NucAgeColdWarDesMob::after {
    content: 'Nuc Age + Cold War:';
}

#RJIVQ::after {
    content: 'R+J, Act IV Questions:';
}
#RJSG::after {
    content: 'R+J, Study Guide:';
}

#ZMB1\+2M::after {
    content: '\'Zmb\' Chpt 1+2 memo:';
}

    }

#shortscreenerror h1{
    position: absolute;
    top: 50%;
    left: 30%;
    visibility: hidden;
}
#shortscreenerror h3{
    position: absolute;
    top: 60%;
    left: 30%;
    visibility: hidden;
}

    @media screen and (max-height:500px) {
        * {
            visibility: hidden;
        }
        #shortscreenerror h1{
         
            visibility: visible;
        }
        #shortscreenerror h3{
         
            visibility: visible;
        }
    }
