<!DOCTYPE html>
<html>
        <head>
        <link rel="stylesheet" href="/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Homework App | Home</title>
      </head>
<body>


<h1 id="heading">Homework App</h1>
<p id="ByCharles">by Charles</p>
<p id="date1"></p>
<script>
  document.getElementById("date1").innerHTML = Date();
  </script>
<p>Hello World!</p>
<form  id="Back" action="/index.html">
    <button type="submit">Back</button>
  </form>
</body>
</html>